<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2CateRNOwwK1sP1eni8ug1ezaWQeAYdI</string>
	<key>GCM_SENDER_ID</key>
	<string>484330925038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kridaverseECommerce</string>
	<key>PROJECT_ID</key>
	<string>kridaverse-e-commerce</string>
	<key>STORAGE_BUCKET</key>
	<string>kridaverse-e-commerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484330925038:ios:56f604b4a6feadf3a3fcff</string>
</dict>
</plist>